# VITE_GEMINI_API_KEY: Default API Key
VITE_GEMINI_API_KEY=

# Optional: Add up to 5 Gemini keys (system will automatically pick a random one to avoid rate limits)
VITE_GEMINI_API_KEY_1=
VITE_GEMINI_API_KEY_2=
# VITE_GEMINI_API_KEY_3=
# VITE_GEMINI_API_KEY_4=
# VITE_GEMINI_API_KEY_5=

# VITE_OPENROUTER_API_KEY: Default Fallback OpenRouter API Key
VITE_OPENROUTER_API_KEY=

# Optional: Add up to 5 OpenRouter keys too!
VITE_OPENROUTER_API_KEY_1=
VITE_OPENROUTER_API_KEY_2=
# VITE_OPENROUTER_API_KEY_3=
# VITE_OPENROUTER_API_KEY_4=
# VITE_OPENROUTER_API_KEY_5=

# APP_URL: The URL where this applet is hosted.
APP_URL=
